tape/
data/
databases/
retrieval-db/database_scale_experiments/*.index
retrieval-db/database_scale_experiments/*.index.trained
retrieval-db/
retrieval-db/esm-2/*.index
retrieval-db/esm-2/*.index.trained
retrieval-db/esm-2/esm-2_vectors/*
retrieval-db/pfam*
retrieval-db/scope*
retrieval-db/scope/scope.index
retrieval-db/scope/scope.index.trained
retrieval-db/Pfam*
retrieval-db/uniref*
retrieval-db/uniref50.fasta
retrieval-db/scope/scope_vectors.fvecs
checkpoints/
msa.zip
tape.zip
.idea/
.git/
wandb/
hahahaha/
*.pyc
retrieval_benchmark/query_seqs/
retrieval_benchmark/retrieved_seqs/
retrieval_benchmark/retrieved_alignments/
retrieval_benchmark/pfam_domain_ir_k_100.json
.log
by_err_key/
*/__pycache__/
protretrieval/__pycache__/
msa_augment/__pycache__/
msa/__pycache__/
esm_mine/__pycache__/
benchmark/__pycache__/
visualize/structure/
visualize/img/